<% include partials/header.ejs %>
<h1>All Campgrounds</h1>

<% campgrounds.forEach((campground) => { %>
  <h2><%= campground.name %></h2>
  <img src="<%= campground.img%>" alt="<%= campground.name %>" />
<% }); %>
<hr/>
<% include partials/footer.ejs %>